@font-face {
    font-family: 'TTLakes';
    src: url('fonts/TTLakes-Medium.woff') format('woff'),
    url('fonts/TTLakes-Medium.ttf') format('truetype'),
    url('fonts/TTLakes-Medium.eot') format('embeddedopentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'TTLakes';
    src: url('fonts/TTLakes-Bold.woff') format('woff'),
    url('fonts/TTLakes-Bold.ttf') format('truetype'),
    url('fonts/TTLakes-Bold.eot') format('embeddedopentype');
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: "TTLakes", "Arial", serif;
    font-style: normal;
    font-size: 16px;
    color: #1B1C21;
}

.brand-block {
    box-sizing: border-box;
    min-width: 320px;
    height: 100%;
    background-color: #F8F8F8;
}

.heading-block {
    box-sizing: border-box;
    min-width: 320px;
    background-image: linear-gradient(to right, #F8F8F8 60%, #FFFFFF 100%);
}

.heading-block__title {
    box-sizing: border-box;
    margin: 0;
    padding: 16px;
    text-transform: uppercase;
}